<div id="<%= dom_id comment %>">
  <p>
    <strong>Userid:</strong>
    <%= comment.UserId %>
  </p>

  <p>
    <strong>Postid:</strong>
    <%= comment.PostId %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.Text %>
  </p>

  <p>
    <strong>Updatedat:</strong>
    <%= comment.UpdatedAt %>
  </p>

  <p>
    <strong>Createdat:</strong>
    <%= comment.CreatedAt %>
  </p>

</div>
