<%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</header>
<body>
  <header>
    <nav class="nav">
      <%= link_to "Add New Post", new_user_post_path(@user.id) %>
      <%= link_to "Home", root_path %>
      <%= link_to "Back", :back %>
    </nav>
    <%= render @user %>
    <div id="bio">
      Bio: <%= @user.bio %>
    </div>
    <br>
  </header>
  
  <% if @user.posts.empty? %>
    <p>No posts for this user</p>
  <% end %>
  
<% @user.recent_posts.each do |post| %>
  <div class="post-header">
    <%= link_to post.title, user_post_path(@user, post), class: 'bold-link'%>
  </div>
  <%= render post %>
<% end %>

  
  <div class="button-container">
    <button><a href="<%= user_posts_path(@user) %>">See all posts</a></button>
  </div>
</body>
