<%= stylesheet_link_tag 'post', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="post" id="post_<%= post.id %>">
  post #<%= post.id %><br>
  <%= post.text %><br>
  <p id="comments-likes">
    comments: <%= post.comments_counter.presence || 0 %>, 
    Likes: <%= post.likes_counter.presence || 0 %>
  </p>
</div>
