<%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>
<body>
<nav class="nav">
    <%= link_to "Add New Post", new_user_post_path(@user.id) %>
    <%= link_to "Home", root_path %>
    <%= link_to "Back", :back %>
</nav>
<% flash.each do |key, value| %>
  <div class="flash <%= key %>">
    <%= value %>
  </div>
<% end %>
<%= render @user %>

<% @posts.each do |post| %>
  <div class="post">
<%= link_to post.title, user_post_path(@user, post), class: 'bold-link' %>

    
    <!-- Display the number of comments -->
    <p class="comments-counter">Comments: <%= post.comments_counter %></p>
    
    <!-- Display the number of likes -->
    <p class="likes-counter">Likes: <%= post.likes_counter %></p>
    
    <% if post.comments.empty? %>
      <p class="no-comments">No comments for this post</p>
    <% else %>
      <div class="comments">
        <% post.recent_comments.each do |comment| %>
          <%= render comment %>
        <% end %>
      </div>
    <% end %>
    
    <p id="view-post"><%= link_to 'View Post', user_post_path(@user, post) %></p>
  </div>
<% end %>

<p> Pagination <%= will_paginate @posts %> </p>
</body>
